<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>La méningite à méningocoque C, c’est quoi ?</title>
		<meta name="viewport" content="width=device-width">
		<meta name="robots" content="noindex">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700,700i,800,800i,900,900i" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
		<script src="{{ app.request.basepath }}/js/vendor/modernizr-2.6.1.js"></script>
		{% block headScripts %}{% endblock %}
	</head>
	<body style="margin:0px; padding:0px;">
		{{header|raw}}
		<div id="promoContent">
			{% block content %}{% endblock %}
		</div>
		{{footer|raw}}
		{% block moreScripts %}{% endblock %}
	</body>
</html>
